In [1]:
# set path for source files
import sys
src_files_path = "../src/"
if src_files_path not in sys.path:
    sys.path.append(src_files_path)


# required libraries
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

# custom scripts
import data
import utils

data_prep = data.DataPrepare("../data")
util_handle = utils.Utils()

Your data root path : ../data

In [2]:
data_melted = data_prep.prepare_data()

Loading ../data/processed/data_melted.bin

In [4]:
df_stm = data_melted['sales_train_melted']

In [5]:
# 58M points not possible to load in memory
# hence we will split them into samples of 1M each
step = 1_000_000
for i in range(0, df_stm.shape[0], step):
    print(df_stm[i:i + step].index)

RangeIndex(start=0, stop=1000000, step=1)
RangeIndex(start=1000000, stop=2000000, step=1)
RangeIndex(start=2000000, stop=3000000, step=1)
RangeIndex(start=3000000, stop=4000000, step=1)
RangeIndex(start=4000000, stop=5000000, step=1)
RangeIndex(start=5000000, stop=6000000, step=1)
RangeIndex(start=6000000, stop=7000000, step=1)
RangeIndex(start=7000000, stop=8000000, step=1)
RangeIndex(start=8000000, stop=9000000, step=1)
RangeIndex(start=9000000, stop=10000000, step=1)
RangeIndex(start=10000000, stop=11000000, step=1)
RangeIndex(start=11000000, stop=12000000, step=1)
RangeIndex(start=12000000, stop=13000000, step=1)
RangeIndex(start=13000000, stop=14000000, step=1)
RangeIndex(start=14000000, stop=15000000, step=1)
RangeIndex(start=15000000, stop=16000000, step=1)
RangeIndex(start=16000000, stop=17000000, step=1)
RangeIndex(start=17000000, stop=18000000, step=1)
RangeIndex(start=18000000, stop=19000000, step=1)
RangeIndex(start=19000000, stop=20000000, step=1)
RangeIndex(start=20000000, stop=21000000, step=1)
RangeIndex(start=21000000, stop=22000000, step=1)
RangeIndex(start=22000000, stop=23000000, step=1)
RangeIndex(start=23000000, stop=24000000, step=1)
RangeIndex(start=24000000, stop=25000000, step=1)
RangeIndex(start=25000000, stop=26000000, step=1)
RangeIndex(start=26000000, stop=27000000, step=1)
RangeIndex(start=27000000, stop=28000000, step=1)
RangeIndex(start=28000000, stop=29000000, step=1)
RangeIndex(start=29000000, stop=30000000, step=1)
RangeIndex(start=30000000, stop=31000000, step=1)
RangeIndex(start=31000000, stop=32000000, step=1)
RangeIndex(start=32000000, stop=33000000, step=1)
RangeIndex(start=33000000, stop=34000000, step=1)
RangeIndex(start=34000000, stop=35000000, step=1)
RangeIndex(start=35000000, stop=36000000, step=1)
RangeIndex(start=36000000, stop=37000000, step=1)
RangeIndex(start=37000000, stop=38000000, step=1)
RangeIndex(start=38000000, stop=39000000, step=1)
RangeIndex(start=39000000, stop=40000000, step=1)
RangeIndex(start=40000000, stop=41000000, step=1)
RangeIndex(start=41000000, stop=42000000, step=1)
RangeIndex(start=42000000, stop=43000000, step=1)
RangeIndex(start=43000000, stop=44000000, step=1)
RangeIndex(start=44000000, stop=45000000, step=1)
RangeIndex(start=45000000, stop=46000000, step=1)
RangeIndex(start=46000000, stop=47000000, step=1)
RangeIndex(start=47000000, stop=48000000, step=1)
RangeIndex(start=48000000, stop=49000000, step=1)
RangeIndex(start=49000000, stop=50000000, step=1)
RangeIndex(start=50000000, stop=51000000, step=1)
RangeIndex(start=51000000, stop=52000000, step=1)
RangeIndex(start=52000000, stop=53000000, step=1)
RangeIndex(start=53000000, stop=54000000, step=1)
RangeIndex(start=54000000, stop=55000000, step=1)
RangeIndex(start=55000000, stop=56000000, step=1)
RangeIndex(start=56000000, stop=57000000, step=1)
RangeIndex(start=57000000, stop=58000000, step=1)
RangeIndex(start=58000000, stop=58327370, step=1)

In [23]:
58000000 - 58327370

-327370

def generate_samples(self, )

In [16]:
part = df_stm[i:i + step]

pd.options.mode.chained_assignment = None 
part.loc[:, 'id'] = part['id'].str.replace('_validation', '')

In [20]:
df_slp = data_melted['sell_prices']

In [22]:
part.merge(right=df_slp, on='id', how='left' )

                        id     day  sales  wm_yr_wk  sell_price
0         FOODS_2_095_CA_3  d_1903      3     11403    4.421875
1         FOODS_2_095_CA_3  d_1903      3     11404    4.421875
2         FOODS_2_095_CA_3  d_1903      3     11405    4.421875
3         FOODS_2_095_CA_3  d_1903      3     11406    4.421875
4         FOODS_2_095_CA_3  d_1903      3     11407    4.421875
...                    ...     ...    ...       ...         ...
73478016  FOODS_3_827_WI_3  d_1913      0     11617    1.000000
73478017  FOODS_3_827_WI_3  d_1913      0     11618    1.000000
73478018  FOODS_3_827_WI_3  d_1913      0     11619    1.000000
73478019  FOODS_3_827_WI_3  d_1913      0     11620    1.000000
73478020  FOODS_3_827_WI_3  d_1913      0     11621    1.000000

[73478021 rows x 5 columns]

In [25]:
part

                        id     day  sales
58000000  FOODS_2_095_CA_3  d_1903      3
58000001  FOODS_2_096_CA_3  d_1903      0
58000002  FOODS_2_097_CA_3  d_1903      0
58000003  FOODS_2_099_CA_3  d_1903      4
58000004  FOODS_2_100_CA_3  d_1903      0
...                    ...     ...    ...
58327365  FOODS_3_823_WI_3  d_1913      1
58327366  FOODS_3_824_WI_3  d_1913      0
58327367  FOODS_3_825_WI_3  d_1913      0
58327368  FOODS_3_826_WI_3  d_1913      3
58327369  FOODS_3_827_WI_3  d_1913      0

[327370 rows x 3 columns]