# Initialize

In [1]:
# set path for source files
import sys
src_files_path = "../src/"
if src_files_path not in sys.path:
    sys.path.append(src_files_path)


# required libraries
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

# custom scripts
import data
import utils

data_prep = data.DataPrepare("../data")
util_handle = utils.Utils()

Your data root path : ../data

In [2]:
data_melted = data_prep.prepare_data()
data_melted.keys()

Loading ../data/processed/data_melted.bin

dict_keys(['calendar', 'sales_train_melted', 'sell_prices', 'submission_melted'])

<item_id>_<store_id>

In [3]:
df_stm = data_melted['sales_train_melted']

# df_stm['item_id'] = df_stm['id'].str[:-5]
# df_stm['dept_id'] = df_stm['id'].str[:-9]
# df_stm['store_id'] = df_stm['id'].str[-4:]

In [11]:
df_slp = data_melted['sell_prices']

In [14]:
df_stm.iloc[-2_000_000:]

                          id     day  sales        item_id    dept_id store_id
56327370  HOBBIES_1_149_TX_1  d_1848      0  HOBBIES_1_149  HOBBIES_1     TX_1
56327371  HOBBIES_1_150_TX_1  d_1848      0  HOBBIES_1_150  HOBBIES_1     TX_1
56327372  HOBBIES_1_151_TX_1  d_1848      1  HOBBIES_1_151  HOBBIES_1     TX_1
56327373  HOBBIES_1_152_TX_1  d_1848      1  HOBBIES_1_152  HOBBIES_1     TX_1
56327374  HOBBIES_1_153_TX_1  d_1848      6  HOBBIES_1_153  HOBBIES_1     TX_1
...                      ...     ...    ...            ...        ...      ...
58327365    FOODS_3_823_WI_3  d_1913      1    FOODS_3_823    FOODS_3     WI_3
58327366    FOODS_3_824_WI_3  d_1913      0    FOODS_3_824    FOODS_3     WI_3
58327367    FOODS_3_825_WI_3  d_1913      0    FOODS_3_825    FOODS_3     WI_3
58327368    FOODS_3_826_WI_3  d_1913      3    FOODS_3_826    FOODS_3     WI_3
58327369    FOODS_3_827_WI_3  d_1913      0    FOODS_3_827    FOODS_3     WI_3

[2000000 rows x 6 columns]